<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Django Chat App - Inscription</title>
    <style>
        body{
             background: url("../static/chat/img/abstract-backgrounds-colors-digital-art-gradient.jpg") no-repeat center center fixed;
        }
        div {
            position: relative;
            top: 50px;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
        }
    </style>
</head>
<body>
     <div>
        <h1>Inscription</h1>

        {% if error %}
        <p><strong>Pseudo déjà existant ou mauvais de mot de passe.</strong></p>
        {% endif %}

        {% if user.is_authenticated %}
        Vous êtes connecté, {{ user.username }} !
        {% else %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="S'inscrire" />
        </form>
        {% endif %}
     </div>
</body>
</html>